In [ ]:
#task 2 - Superstore_USA
# 1 . load this data in sql and in pandas with a relation in sql 
2 . while loading this data you dont have to create a table manually you can use any automated approach to create a table and load a data in bulk in table 
3 . Find out how return that we ahve recived and with a product id 
4 . try  to join order and return data both in sql and pandas 
5 . Try to find out how many unique customer that we have 
6 . try to find out in how many regions we are selling a product and who is a manager for a respective region 
7 . find out how many different differnet shipement mode that we have and what is a percentage usablity of all the shipment mode with respect to dataset 
8 . Create a new coulmn and try to find our a diffrence between order date and shipment date
9 . base on question number 8 find out for which order id we have shipment duration more than 10 days 
10 . Try to find out a list of a returned order which sihpment duration was more then 15 days and find out that region manager as well 
11 . Gorup by region and find out which region is more profitable 
12 . Try to find out overalll in which country we are giving more didscount 
13 . Give me a list of unique postal code 
14 . which customer segement is more profitalble find it out . 
15 . try to find out the 10th most loss making product catagory . 
16 . Try to find out 10 top  product with highest margins 

submit your git link for the same 
 
you have to submit this task by next Friday 5th 11PM IST  to respective mail id 
sudhanshu@ineuron.ai , sunny.savita@ineuron.ai

In [25]:
df4 = pd.read_excel(r"E:\dowanload\Superstore_USA (3).xlsx",sheet_name = "Returns")

In [34]:
pd.concat([df3,df4])

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,status,status2,Status
0,18606.0,Not Specified,0.01,2.88,0.50,2.0,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,60101.0,2012-05-28,2012-05-30,1.3200,2.0,5.90,88525,Returned,Returned,NaN
1,20847.0,High,0.01,2.84,0.93,3.0,Bonnie Potter,Express Air,Corporate,Office Supplies,...,98221.0,2010-07-07,2010-07-08,4.5600,4.0,13.01,88522,Returned,Returned,NaN
2,23086.0,Not Specified,0.03,6.68,6.15,3.0,Bonnie Potter,Express Air,Corporate,Office Supplies,...,98221.0,2011-07-27,2011-07-28,-47.6400,7.0,49.92,88523,Returned,Returned,NaN
3,23087.0,Not Specified,0.01,5.68,3.60,3.0,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,98221.0,2011-07-27,2011-07-28,-30.5100,7.0,41.64,88523,Returned,Returned,NaN
4,23088.0,Not Specified,0.00,205.99,2.50,3.0,Bonnie Potter,Express Air,Corporate,Technology,...,98221.0,2011-07-27,2011-07-27,998.2023,8.0,1446.67,88523,Returned,Returned,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1629,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaT,NaT,NaN,NaN,NaN,182681,NaN,NaN,Returned
1630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaT,NaT,NaN,NaN,NaN,182683,NaN,NaN,Returned
1631,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaT,NaT,NaN,NaN,NaN,182750,NaN,NaN,Returned
1632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaT,NaT,NaN,NaN,NaN,182781,NaN,NaN,Returned
1633,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaT,NaT,NaN,NaN,NaN,182906,NaN,NaN,Returned

In [33]:
df3["status2"]=df4["Status"]

In [29]:
df3.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,status
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Illinois,Addison,60101,2012-05-28,2012-05-30,1.3200,2,5.90,88525,Returned
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.5600,4,13.01,88522,Returned
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.6400,7,49.92,88523,Returned
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.5100,7,41.64,88523,Returned
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.2023,8,1446.67,88523,Returned

In [31]:
df3.groupby("Row ID")["status"].count()

Row ID
2        0
27       0
52       0
53       0
62       0
        ..
26395    1
26396    1
26397    1
26398    0
26399    0
Name: status, Length: 9426, dtype: int64

In [2]:
import pandas as pd

In [8]:
df3 = pd.read_excel(r"E:\dowanload\Superstore_USA (3).xlsx")

In [15]:
df3.to_csv("superstore.csv")

In [17]:
import mysql.connector as conn
mydb = conn.connect(host = "localhost",user= "root",password = "monu471",database ="new" )
cursor = mydb.cursor()

In [13]:
import csvkit
import MySQLdb

In [19]:
!csvsql --db mysql://root:monu471@127.0.0.1:3306/new --insert superstore.csv

C:\Users\MY\OneDrive\Documents\Downloads\lib\site-packages\agate\table\from_csv.py:74: RuntimeWarning: Error sniffing CSV dialect: Could not determine delimiter
C:\Users\MY\OneDrive\Documents\Downloads\lib\site-packages\agate\utils.py:285: UnnamedColumnWarning: Column 0 has no name. Using "a".
C:\Users\MY\OneDrive\Documents\Downloads\lib\threading.py:914: ResourceWarning: unclosed file <_io.BufferedWriter name=4>
C:\Users\MY\OneDrive\Documents\Downloads\lib\threading.py:914: ResourceWarning: unclosed file <_io.BufferedReader name=5>
C:\Users\MY\OneDrive\Documents\Downloads\lib\threading.py:914: ResourceWarning: unclosed file <_io.BufferedReader name=6>
sys:1: ResourceWarning: unclosed socket <zmq.Socket(zmq.PUSH) at 0x2758db61e80>

In [20]:
# Find out how return that we ahve recived and with a product id 
df3

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533

In [21]:
df3.columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID'],
      dtype='object')

In [24]:
# Find out how return that we ahve recived and with a product id
df3[["Row ID",'Profit']]

      Row ID       Profit
0      18606     1.320000
1      20847     4.560000
2      23086   -47.640000
3      23087   -30.510000
4      23088   998.202300
...      ...          ...
9421   20275   137.860000
9422   20276   -39.070000
9423   24491 -1225.029097
9424   25914   349.485000
9425   24492    78.062400

[9426 rows x 2 columns]

In [ ]:
try  to join order and return data both in sql and pandas

In [35]:
df3

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,status,status2
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525,Returned,Returned
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522,Returned,Returned
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523,Returned,Returned
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523,Returned,Returned
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523,Returned,Returned
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532,NaN,NaN
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532,NaN,NaN
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533,NaN,NaN
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530,NaN,NaN
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533,NaN,NaN

In [40]:
df3["Customer Name"].nunique()

2703

In [ ]:
try to find out in how many regions we are selling a product and who is a manager for a respective region

In [41]:
df= pd.read_excel(r"E:\dowanload\Superstore_USA (3).xlsx",sheet_name = "Users")

In [42]:
df

    Region  Manager
0  Central    Chris
1     East     Erin
2    South      Sam
3     West  William

In [44]:
df[["Region","Manager"]].value_counts()

Region   Manager
Central  Chris      1
East     Erin       1
South    Sam        1
West     William    1
dtype: int64

In [50]:
# find out how many different differnet shipement mode that we have and what is a percentage usablity of all the shipment mode
df3

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,status,status2
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525,Returned,Returned
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522,Returned,Returned
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523,Returned,Returned
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523,Returned,Returned
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523,Returned,Returned
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532,NaN,NaN
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532,NaN,NaN
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533,NaN,NaN
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530,NaN,NaN
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533,NaN,NaN

In [68]:
df3["Ship Mode"].unique()

array(['Regular Air', 'Express Air', 'Delivery Truck'], dtype=object)